*.bbl
*.aux
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.aux
*~
examples/strongscript/*.js
.DS_Store
writing/.#*
writing/#*
*.fls
.dropbox
*.ini
!writing/cc-by.pdf
!writing/lipics-logo-bw.pdf
*.vtc
*.1
*.bak
netImpl/kafkaimpl/bin
netImpl/kafkaimpl/obj
netImpl/kafkaimpl/packages
netImpl/kafkatest/bin
netImpl/kafkatest/obj
netImpl/kafkatest/packages
netImpl/dyntest/bin
netImpl/dyntest/obj
netImpl/dyntest/packages
*.suo

writing/main.pdf

writing/PACM/gradualcomp.pdf

CODE/reticulated/

*.tex#

writing/PACM/.#gradualcomp.tex
