*.bbl
*.aux
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.aux
*~
examples/strongscript/*.js
.DS_Store
writing/.#*
writing/#*
*.fls
.dropbox
*.ini
!writing/cc-by.pdf
!writing/lipics-logo-bw.pdf
*.vtc
*.1
*.bak
netImpl/kafkaimpl/bin
netImpl/kafkaimpl/obj
netImpl/kafkaimpl/packages
netImpl/kafkatest/bin
netImpl/kafkatest/obj
netImpl/kafkatest/packages
netImpl/dyntest/bin
netImpl/dyntest/obj
netImpl/dyntest/packages
*.suo

writing/main.pdf

writing/PACM/gradualcomp.pdf

CODE/reticulated/

*.tex#

writing/PACM/.#gradualcomp.tex

writing/PACM/.#macros.tex

writing/PACM/gradualcomp.synctex.gz(busy)

writing/PACM/main.pdf

writing/PACM/.#main.tex

writing/ESOP/main.pdf

writing/ECCOP18/main.pdf

writing/ECOOP18/main.pdf
/netImpl/KafkaLanguageServer
/netImpl/KafkaLanguageServer/obj/Debug
/netImpl/KafkaLanguageServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/netImpl/KafkaLanguageServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/netImpl/KafkaLanguageServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/netImpl/KafkaLanguageServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/netImpl/KafkaLanguageServer/obj/Debug/CoreCompileInputs.cache
/netImpl/KafkaLanguageServer/obj/Debug/build.force
