*.bbl
*.aux
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.aux
other-impl/*
*~
examples/strongscript/*.js
.DS_Store
writing/.#*
writing/#*
*.fls
.dropbox
*.ini
*.pdf
!writing/cc-by.pdf
!writing/lipics-logo-bw.pdf

*.vtc
